/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#232322;
  --col-02:#f6f2f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --border: 2px solid var(--col-02);
}

h1{
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
  font-family: Verdana;
  
}

/*
  The reason why I chose orange is because this color is warm and matched the recipe photos to make the food look more tasty.
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: 2px white solid;
  background-color: #e0a709;
  padding: 2vw;
  font-size: 1rem;
}

.FilterSection{
 background-color: #e0a709;
 font-family:sans-serif;

}

.FilterBox{
  padding: 0.5vw;
  border: 2px white solid;
  font-size: 1.25rem;
  color: #c34f21;
}

.FilterButton{
  padding: 0.5vw;
  border: 3px rgb(233, 207, 130) solid;
}

.RecipeName{
color: #c34f21;
}

.Author{
  color: #c34f21;
}

.RecipeImageContainer{
padding-top: 10px;
}

