

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 16px;
  scroll-behavior: smooth;
  
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  
}

/* I add "hover" function to make users to realise they can click the navigation menu to jump to sepecific area of content, and I chose blue as the hover color as it will be worked well as background color light green.*/
a:hover{
  color:blue;
  cursor: pointer;
  
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

/* As I'd like to make users to realise there is an option to change the reading mode, so I made this changing mode button more obvious by adding the shadow and border. I chose this background color is because it will be matched well with the background color of the webpage and color palette of the website. Also, when users click the button, it will trigger the box-shadow feedback which will fullfill the anticipation of the users to confirm that they did click the button. */
#mode-button{
  float: right;
  position:sticky;
  top: 1rem;
  cursor: pointer;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: #deebd5;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#mode-button:hover{
  background-color: rgb(78, 169, 215);
}
#mode-button:active{
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* I changed the mouse cursor to a pointer to instruct the users that is a link to be clicked. */
#load-link:hover{
  color:var(--col-03);
  line-height: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* I used a short animation to fake loading the progress bar which can fullfil users' anticipation and reduce anxiety to show them that the webiste is working and still loading for the next webpage. */
#load-throbber{
  width: 25%;
  height: 1rem;
  background-color:var(--col-03);
  display: none;
  background-image: repeating-linear-gradient(
    -45deg,
     #7fbedb 0%,
     #7fbedb 2%,
     blue 2%,
     blue 4%
  );
  background-size: 200%;

  animation: loadingPattern 2s infinite linear;
}

@keyframes loadingPattern {
  0%{
    background-image: repeating-linear-gradient(
      -45deg,
      #7fbedb 0%,
      #7fbedb 2%,
      blue 2%,
      blue 4%
    );
    background-position-x: 0%;
  }
  50%{
    background-image: repeating-linear-gradient(
      -45deg,
      #7fbedb 0%,
      #7fbedb 2%,
      blue 2%,
      blue 4%
    );
    background-position-x: 0%;
  }
  100%{
    background-image: repeating-linear-gradient(
      -45deg,
     #7fbedb 0%,
     #7fbedb 2%,
     blue 2%,
     blue 4%
    );
    background-position-x: 100%;
  }
}

/* Media Queries */


/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}